body {
    display: grid;
    margin: 0;
    grid-template-columns: 2fr 1fr;;
}

nav ul li {
    list-style: none;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav {
    color: white;
    background-color: black;
    padding: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
}

header {
    grid-column: 1/-1;
    color: white;
    background-color: rgb(45, 44, 44);
}

h1 {
    padding: 10px;
    font-weight: 100;
    font-size: large;
}

main {
    padding: 10px;
    color: black;;
    background-color: lightgray;
    height: 400px;
}

aside {
    padding: 10px;
    color: black;
    background-color: white;
}

footer {
    padding: 10px;
    grid-column: 1/-1;
    color: white;
    background-color: rgb(45, 44, 44);
    height: 140px;
    text-align: center;
}