:root {
    --primary-color: #4a89a9;
    --secondary-color: #f4f4f4;
    --body-font: 'Lato', Arial;
    --header-font: 'Montserrat', sans-serif;
    --text-color: #333;
    --card-bg-color: #fff;
    --card-border-color: #ddd;
}

* {
    box-sizing: border-box;
}

header, main, footer {
    max-width: 1020px;
    margin: 0 auto;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--secondary-color);
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--header-font);
    padding: 1.5rem;
    margin: 0;
    text-align: center;
    font-size: 2rem;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

header span {
    display: block;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: x-large;
    padding: .8rem;
    margin-top: 0;
}

.my-name {
    color: gold;
}

nav ul li {
    list-style: none;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: .5rem;
    margin: auto;
}

nav {
    background-color: black;
    margin: 0;
}

nav a {
    display: block;
    color: var(--secondary-color);
    text-align: center;
    text-decoration: none;
    font-family: var(--header-font);
}

nav a:hover {
    color: gray;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: .5rem;
}

.main-heading {
    text-align: center;
    font-family: var(--header-font);
    color: var(--secondary-color);
    grid-column: 1/-1;
    padding: .1rem;
}

p {
    padding: 0 1rem 1rem 1rem;
    margin: 0;
}

.card {
    background-color: var(--card-bg-color);
    border: 1px solid var(--card-border-color);
    border-radius: 5px;
}

.profile-pic {
    width: 180px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-right: .5rem;
}

.about-me {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.about-me h2 {
    text-align: center;
    font-family: var(--body-font);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    grid-column: 1/-1;
    margin: 0 0 1rem 0;
    padding: .1rem;
    border-radius: 5px 5px 0 0;
}

.about-me p {
    grid-column: 1/3;
}

.about-me h3 {
    grid-column: 1/4;
    text-align: center;
    border-bottom: 1px solid var(--card-border-color);
    margin: 1rem 5rem;
} 

.my-country {
    grid-column: 2/4;
}

.ghana-flag {
    grid-column: 1/2;
    margin: 0;
    top: 0;
    width: 140px;
    height: auto;
}

figcaption {
    text-align: center;
    font-style: italic;
    margin-top: .5rem;
}

.web-resources h2 {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--body-font);
    text-align: center;
    margin: 0 0 1rem 0;
    padding: .1rem;
    border-radius: 5px 5px 0 0;
}

footer {
    background-color: var(--primary-color);
    text-align: center;
    color: var(--secondary-color);
    /* padding: .5rem; */
    margin-top: .5rem;
}

#lastModified {
    color: gold;
}